/* topnav  */
 a{
    color: #000;
}

/* navbar  */
.navbar a{
    /* color: #fff; */
}
.navbar{
    background: #002db3 !important;
}
.navbar-brand img{
    width: 13%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.navbar-toggler{
    outline: none !important;
    border: none !important;
    box-shadow: none !important;

}
/* info  */
#info{
    background: #bfcfff;
    height: 60vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
#info .bg-darks{
  position: absolute;
  /* background: rgba(0, 0, 0, .4);  */
  width: 100%; 
  height: 100%;
}
#info .bg-darks p{
 width: 40%;
 margin: 0 auto;
}

/* products  */
/* products  */
#products .card{
    height: fit-content;
}
#products .card img{
    height: 30vh !important;
}
#products .card .btn{
    transition: all .6s ease-in-out;
    transform: translateY(-990%);
    z-index: -1;
}
#products .card:hover .btn{
    transform: translateY(0%);
    z-index: 1;
}
#contact{
    background: url(/assets/img/blue\ cloth.jpg);
    background-repeat: no-repeat;
    height: fit-content;
    background-size: cover;
    background-position: center center;
}

@media only screen and (max-width:520px){
    #info{
        height: 60vh;
    }
}